*{
	box-sizing: border-box;
}

body{
	height: 100vh;

	display: grid;
	place-items: center;
}

.container{
	border: 1px solid #777;
	border-radius: 5px;
	padding: 10px;
}

h3{
	color: #333;
	font-size: 20px;
	opacity: .9;
	border-bottom: 1px dashed #666;
	line-height: 3;

	margin: 0;
	padding: 0;
}

small{
	color: #666;
	text-align: right;
	margin-top: 10px;

	display: block;
}

.form{
	margin-top: 20px;
}

.form-control{
	width: 100%;
	font-size: 15px;
	border: 0;
	border-bottom: 1px solid orange;
	padding: 10px;

	transition: all .3s ease-in;
}

.form-control:focus{
	outline: none;
	border-bottom: 1px solid blue;
}

.list-group{
	width: auto;
	height: 300px;
	list-style: none;

	margin: 0;
	padding: 0;

	overflow-y: scroll;
}

.list-group li{
	background-color: #f5f5f5;
	font-size: 15px;
	border: 1px solid #999;
	padding: 15px;

	border-top: none;
	border-right: none;

	cursor: pointer;
}

.list-group li:hover{
	background-color: #f1f1f1;
}

.list-group li.done{
	background-color: #f1f1f1;
	color: #777;
	font-style: italic;
	text-decoration: line-through;
	border: 1px solid #ccc;

	border-top: none;
	border-right: none;
}

.list-group li.done::before{
	content: '\f00c';
	font-family: FontAwesome;
	float: right;
}